nav {
  border-bottom: 1px solid #e4e4e4;
  height: 64px;
  position: fixed;
  background: white;
  width: 100%;
  top: 0;
  z-index: 4;

  .logo {
    border-right: 1px solid #e4e4e4;
    padding: 0 20px;
    line-height: 64px;
    display: inline-block;

    span {
      background-image: image-url("belo.svg");
      width: 28px;
      height: 30px;
      background-size: 100%;
      background-repeat: no-repeat;
      display: inline-block;
      position: relative;
      top: 7px;
      left: 2px;
    }

    p {
      color: #008489;
      display: inline-block;
      font-size: 23px;
      margin-left: 13px;
      letter-spacing: -.5px;
      font-family: 'Circular';
    }
  }

  .avatar {
    width: 30px;
    height: 30px;
    background: #00968821;
    border-radius: 50px;
    float: right;
    margin: 17px 32px 0 0;
  }

  ul{
    display: inline-block;
    margin: 0;
    padding: 0;
    line-height: 56px;
    position: relative;
    li{
      padding: 0 14px;
      position: relative;
      display: inline-block;
      list-style: none;
      margin: 0;
      font-size: 15px;
      cursor: pointer;
      font-family: 'Circular';

      a {
        color:#444444;

        &:hover {
          text-decoration: none;
        }
      }

      &:hover {
        &:after {
          content: '';
          position: absolute;
          left: 14px;
          right: 14px;
          bottom: 0;
          height: 2px;
          background-color: #008489;
        }
      }

      &.active {
        &:after {
          content: '';
          position: absolute;
          left: 14px;
          right: 14px;
          bottom: 0;
          height: 2px;
          background-color: #008489;
        }

        a {
          color: #008489;
        }
      }
    }
  }
}


.wrapper {
  display: flex;

  .main {
    padding: 104px 70px 0 70px;
    width: calc(100% - 400px);
    max-width: 1100px;

    p {
      max-width: 620px;
    }

    .back {
      font-family: 'Circular_light';
      margin-bottom: 45px;
      display: flex;

      &:before {
        background-image: image-url("arrow.svg");
        width: 12px;
        height: 19px;
        margin-right: 14px;
        display: inline-block;
        content: '';
        background-repeat: no-repeat;
        position: relative;
        top: 2px;
      }
    }

    .highcharts-container  {
      min-height: 300px;
    }
    #container {
      width: 100%;
      // min-height: 300px;
      display: flex;
      flex-direction: row;
      padding-bottom: 100px
    }

    .toolbar {
      z-index: 5;
      position: fixed;
      bottom: 0;
      left: 0;
      background: white;
      padding: 0 70px 0 70px;
      width: calc(100% - 400px);
      max-width: 1100px;

      .inner {
        border-top: 1px solid #e4e4e4;
        padding: 24px 0;
        position: relative;
      }

      .button {
        font-family: 'Circular_bold';
        padding: 10px 24px;
        font-size: 19px;
        background: #008489;
        border: 2px solid #008489;
        color: #fff;
        display: inline-block;
        margin-right: 16px;
        border-radius: 4px;

        &.outline {
          background: #fff;
          color: #008489;
        }

        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  aside {
    position: fixed;
    right: 0;
    top: 64px;
    bottom: 0;
    width: 400px;
    border-left: 1px solid #e4e4e4;
  }

  .note {
    position: absolute;
    bottom: 32px;
    left: 32px;
    right: 32px;
    font-size: 15px;
    color: #616161;
    opacity: .7;
  }

  .smart-pricing {
    border-bottom: 1px solid #e4e4e4;
    padding: 40px 32px;

    p {
      font-size: 15px;
    }

    .contain {
      width: calc(100% - 80px);
      display: inline-block;
    }
  }

  .toggle {
    width: 48px;
    height: 32px;
    display: inline-flex;
    float: right;
    top: 6px;
    position: relative;
    cursor: pointer;


    .track {
      width: 48px;
      background: #F2F2F2;
      border: 1px solid #DBDBDB;
      position: relative;
      border-radius: 18px;
      transition: all .3s ease;
    }

    .knob {
      width: 32px;
      height: 32px;
      border: 1px solid #DBDBDB;
      background: #fff;
      position: absolute;
      border-radius: 50%;
      top: -1px;
      background-repeat: no-repeat;
      background-position: center center;
      transition: all .3s ease;
    }

    &.on {
      .track {
        background: #008489;
        border: 1px solid #008489;
      }

      .knob {
        border: 1px solid #008489;
        background-image: image-url("check.svg");
        left: 15px;
      }
    }

    &.off {
      .knob {
        background-image: image-url("close.svg");
        left: -1px;
      }
    }
  }

  .input_module {
    padding: 0 32px;
    margin-top: 40px;

    p {
      font-size: 15px;
      margin: 2px 0 16px;
      max-width: 280px;
    }

    input {
      width: 100%;
      border-radius: 2px;
      border: 1px solid #EBEBEB;
      color: #484848;
      padding: 12px 12px 12px 32px;
      font-size: 19px;
      font-family: 'Circular_light';
      margin-bottom: 8px;
      background-image: image-url("dollar.svg");
      background-repeat: no-repeat;
      background-position: 13px;

      &:focus {
        border: 1px solid #00868B;
        outline: 0;
      }
    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    a {
      font-family: 'Circular';
      font-size: 15px;
    }
  }
}


.sp_on {
  .sp_off {
    display: none;
  }
  .sp_on {
    display: block;
  }
}

.sp_off {
  .sp_on {
    display: none;
  }
  .sp_off {
    display: block;
  }
}

.main .banner {
  margin: 36px 0 0px 0;
}

aside .banner {
  margin: 32px 0;
}

.banner_wrap {
  padding: 0 32px;
  display: none;
}

.banner {
  border: 2px solid #EBEBEB;
  border-radius: 8px;
  background: white;
  position: relative;
  padding: 20px 16px;
  font-size: 15px;
  z-index: 5;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-height: 180px;
  opacity: 1;
  transform: translateY(0px);
  transition: transform .4s ease, opacity .8s ease;
  will-change: transform, opacity;

  &.is-hidden {
    opacity: 0;
    transform: translateY(5px);
    transition: transform .2s ease, opacity .2s ease;
  }

  span {
    background-image: image-url("bulb.svg");
    width: 20px;
    height: 28px;
    margin-right: 24px;
    background-size: 100%;
    background-repeat: no-repeat;
    display: inline-block;
  }

  .body {
    display: flex;
    flex-direction: column;
    flex: 1;

    h4 {
      font-family: 'Circular'
    }

    p {
      margin: 4px 0;
    }
  }

  .close {
    background-image: image-url("close_banner.svg");
    width: 14px;
    height: 14px;
    margin-left: 24px;
    background-size: 100%;
    background-repeat: no-repeat;
    display: inline-block;
  }

  .tip {
    font-family: 'Circular'
  }
}

$wrapper_width: 1030px;

.settings, .settings-side {

  nav {
    position: static;
  }
  h2 {
    margin-top: 32px;
    padding-top: 40px;
    border-top: 1px solid #EBEBEB;
    font-family: 'Circular';
    font-size: 19px;
    letter-spacing: 0;
  }

  .wrapper {
    max-width: 1094px;
    margin: 0 auto;

    #container {
      padding-bottom: 150px;
    }

    .main {
      width: 100%;
      max-width: 810px;
      padding: 64px 70px 0 0;
      margin: 0 32px;

      p {
        max-width: 610px;
      }

      .toolbar {
        width: calc(#{$wrapper_width} - 290px);
        left: 50%;
        margin-left: -515px;
        padding: 0;
        box-shadow: 0px -9px 15px -7px rgba(0, 0, 0, 0.09);
      }
    }

    .toggle {
      width: 48px;
      height: 32px;
      cursor: pointer;
      display: flex;
      align-self: center;
    }

    .smart-pricing {
      padding: 0;
      border: 0;
      margin-top: 40px;
      display: flex;
      justify-content: space-between;

      p {
        font-size: 19px;
      }
    }

    .input_module {
      margin-top: 0;
      padding: 0;
      width: 100%;

      p {
        display: none;
      }

      input {
        margin-top: 8px;
      }
    }

    .sp_on {
      .input_module {
        &:nth-child(even) {
          padding-left: 12px;
        }

        &:nth-child(odd) {
          padding-right: 12px;
        }
      }
    }

    .sp_on, .sp_off {
      margin-top: 32px;
      padding-top: 40px;
      border-top: 1px solid #EBEBEB;
    }

    .sp_off {
      .input_module {
        width: 358px;
      }
    }
  }

  &.sp_on {
    .sp_on {
      display: flex;
      justify-content: space-between;
    }
  }
}

.settings-side {

  &.sp_on {
    .sp_on {
      flex-direction: column;
    }
  }

  h2 {
    border: 0;
    padding: 0;
    margin: 0;
  }


  .wrapper {
    .main {
      width: 100%;
      max-width: 100%;
      padding: 104px 0 0 0;

      .toolbar {
        width: 1030px;
      }
    }

    .smart-pricing {
      border-bottom: 1px solid #e4e4e4;
      padding: 0 0 40px 0;
      margin-bottom: 40px;
      display: flex;
      justify-content: flex-start;

      .contain {
        display: flex;
        max-width: 610px;
        flex-wrap: wrap;
        margin-right: 40px;
      }

      .toggle {
        margin-top: 18px;
      }
    }

    .sp_on, .sp_off {
      margin-top: 0;
      padding-top: 0;
      border-top: 0;
    }

    .sp_on {
      .input_module {
        &:nth-child(even) {
          padding-left: 0;
        }

        &:nth-child(odd) {
          padding-right: 0;
          margin-bottom: 32px;
        }
      }
    }

    .sp_off {
      border: 0;
      padding-top: 0;
      margin-top: 0;

      .input_module {
        width: 100%;
      }
    }
  }

  .bottomPanel {
    display: flex;
    justify-content: space-between;

    .leftPanel {
      width: 240px;
      display: inline-block;
    }

    .rightPanel {
      width: 740px;
      display: inline-block;
    }
  }
}

[data-tooltip],
.tooltip {
  position: relative;
  cursor: pointer;
}

/* Base styles for the entire tooltip */
[data-tooltip]:before,
[data-tooltip]:after,
.tooltip:before,
.tooltip:after {
  position: absolute;
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition:
      opacity 0.2s ease-in-out,
        visibility 0.2s ease-in-out,
        -webkit-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    -moz-transition:
        opacity 0.2s ease-in-out,
        visibility 0.2s ease-in-out,
        -moz-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    transition:
        opacity 0.2s ease-in-out,
        visibility 0.2s ease-in-out,
        transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform:    translate3d(0, 0, 0);
  transform:         translate3d(0, 0, 0);
  pointer-events: none;
}

/* Show the entire tooltip on hover and focus */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip]:focus:before,
[data-tooltip]:focus:after,
.tooltip:hover:before,
.tooltip:hover:after,
.tooltip:focus:before,
.tooltip:focus:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* Base styles for the tooltip's directional arrow */
.tooltip:before,
[data-tooltip]:before {
  z-index: 1001;
  border: 6px solid transparent;
  background: transparent;
  content: "";
}

/* Base styles for the tooltip's content area */
.tooltip:after,
[data-tooltip]:after {
  z-index: 1000;
  padding: 16px 16px 8px 16px;
  width: 230px;
  background-color: #fff;
  color: #444;
  content: url("data:image/svg+xml;charset=utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><text x='0' y='5' style='alignment-baseline:hanging;font-size:15px;fill:#444; font-weight:bold; font-family:Circular Air Pro,Arial'>Getting to know your market</text><text  style='alignment-baseline:hanging;font-size:15px;font-family: Circular Air Pro, Arial;font-weight: 100;fill:#444;'><tspan x='0' y='40' dy='0'>Your market zone represents the</tspan><tspan x='0' y='40' dy='20'>range that guests are paying for</tspan><tspan x='0' y='40' dy='40'>listings similar to yours. If your </tspan><tspan x='0' y='40' dy='60'>nightly price falls within this zone,</tspan><tspan x='0' y='40' dy='80'>you can anticipate being booked</tspan><tspan x='0' y='40' dy='100'>for that date.</tspan></text></svg>");
  font-size: 15px;
  line-height: 18px !important;
  letter-spacing: 0.2px !important;
  white-space: pre-line;
  font-family: 'Circular_light';
  -webkit-font-smoothing: auto;
  filter: drop-shadow(0 0 2px rgba(1,1,1,.3));
}

[data-tooltip]:before,
[data-tooltip]:after,
.tooltip:before,
.tooltip:after,
.tooltip-top:before,
.tooltip-top:after {
  bottom: 100%;
  left: 8px;
  margin-bottom: 4px;
}

[data-tooltip]:before,
.tooltip:before,
.tooltip-top:before {
  margin-left: 114px;
  margin-bottom: -8px;
  border-top-color: #fff;
  filter: drop-shadow(0 2px 2px rgba(1,1,1,.2));
}

/* Horizontally align top/bottom tooltips */
[data-tooltip]:after,
.tooltip:after,
.tooltip-top:after {
  margin-left: 98px;
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip]:focus:before,
[data-tooltip]:focus:after,
.tooltip:hover:before,
.tooltip:hover:after,
.tooltip:focus:before,
.tooltip:focus:after,
.tooltip-top:hover:before,
.tooltip-top:hover:after,
.tooltip-top:focus:before,
.tooltip-top:focus:after {
  -webkit-transform: translateY(-12px);
  -moz-transform:    translateY(-12px);
  transform:         translateY(-12px);
}

