//path vars
$font-path: '../fonts/';



//white space
$ws1: 4px;
$ws2: 8px;
$ws3: 12px;
$ws4: 16px;
$ws5: 24px;
$ws6: 32px;
$ws7: 40px;
$ws8: 48px;
$ws9: 56px;


// breakpoints
$xlarge: 1224px;
$large: 1024px;
$medium: 750px;
$small: 500px;
