---
title: Smart Pricing
---

<nav>
  <div class="logo"><span></span><p>hosting</p></div>
  <ul>
    <li><a href="../">Inbox</a></li>
    <li><a href="#">Calendar</a></li>
    <li class="active"><a href="../settings-side">Listings</a></li>
    <li><a href="#">Stats</a></li>
    <li><a href="#">Help</a></li>
  </ul>

  <span class="avatar"></span>
</nav>

<div class="wrapper">
  <div class="main main_settings">
    <a href="#" class="back">Back to editing Luxury rustic lakeside cabin</a>

    <h1>Nightly price</h1>


    <div class="smart-pricing">
      <div class="contain">
        <h3>Smart Pricing</h3>
        <p>Set your prices to automatically match demand, or choose a fixed price. You can always adjust the price for any night. <a href="#">What is Smart Pricing?</a></p>


      </div>

      <div class="toggle off">
        <div class="track">
          <div class="knob"></div>
        </div>
      </div>
    </div>

    <div class="sp_on">
      <div class="input_module min_price">
        <h3>Min Price</h3>
        <p>Even when demand drops, your nightly price won't go lower than this amount</p>

        <input type="number" placeholder="0">
        <a href="#" class="tip">Use tip: $<span>200</span></a>
      </div>

      <div class="input_module max_price">
        <h3>Max Price</h3>
        <p>When demand spikes, your nightly price won't go higher than this amount</p>

        <input type="number" placeholder="0">
        <a href="#" class="tip">Use tip: $<span>300</span></a>
      </div>
    </div>

    <div class="sp_off">
      <div class="input_module nightly_price">
        <h3>Base Price</h3>
        <p>The default price used for all nights.</p>

        <input type="number" placeholder="0" value="220">
        <a href="#" class="tip">Use tip: $<span>250</span></a>
      </div>
    </div>



    <h2>Prices in your market</h2>



    <div id="container"></div>

    <div class="toolbar">
      <div class="inner">
        <a href="#" class="button">Save</a>
        <a href="#" class="button outline">Cancel</a>
      </div>
    </div>
  </div>

  <div class="sidebar">
    <div class="banner_wrap is-hidden">
      <div class="banner">
        <span class="icon"></span>
        <div class="body">
          <!-- <h4>Your base price is preventing you from matching demand. </h4>
          <p>Become more competitive when demand is high and low by using Smart Pricing</p>
          <a class="turn_on" href="#">Tip: turn on Smart Pricing</a> -->
          <h4></h4>
          <p></p>
          <a class="tip" href="#"></a>
        </div>
        <!-- <a class="close" href="#"></a> -->
      </div>
    </div>
  </div>

</div>


